<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h1>Jobs</h1>
      <% @jobs.each do |job| %>
        <h2><%= job.title %></h2>
        <p><%= job.description %></p>
      <% end %>
    </div>
  </div>
</div>
